* {
  font-family: 'Roboto', sans-serif;
  padding: 15px;
}

header {
  background-color: #1f2937;
  color: #f9faf8;
}
.logo {
  font-size: 24px;
  color:#f9faf8;
  flex: 1;
}
nav {
  display: flex;
}
ul {
  display: flex;
  list-style: none;
  flex: 1;
}
li {
  flex: 4;
}
li a {
  font-size: 18px;
  color: #e5e7eb;
  padding: 14px 16px;
}
/* aside {
  display: block;
  padding: 0px;
  margin: 0px;
} */
.heroHeader {
  margin: 0px;
  font-weight: 800;
  font-size: 48px;
}
.sideImg {
  float: right;
  border: white;
}
