* {
  font-family: 'Roboto', sans-serif;
  padding: 15px;
}

header {
  background-color: #1f2937;
  color: #f9faf8;
}
.logo {
  font-size: 24px;
  color:#f9faf8;
  flex: 1;
}
nav {
  display: flex;
}
ul {
  display: flex;
  list-style: none;
  flex: 1;
}
li {
  flex: 4;
}
li a {
  font-size: 18px;
  color: #e5e7eb;
  padding: 14px 16px;
}
.asides {
  display: flex;
}
.asideLeft {
  flex-direction: column;
  flex: 1;
  justify-content: space-around;
}
.asideRight {
  flex: 1;
  flex-direction: column;
  justify-content: space-around; 
}

.heroHeader {
  margin: 0px;
  font-weight: 900;
  font-size: 48px;
}
.sideImg {
  border: #E5E7EB;
  border-radius: 20px;
  max-width: 100%;
}
.button1 {
  background-color: #3882F6;
  color: #E5E7EB;
  border-radius: 10px;
  border-style: none;
  font-size: 18px;
  padding: 10px 35px;
  margin: 18px;
}
.button1:hover {
  border-color: white;
  border-style: ridge;
}
h2 {
  font-weight: 900;
  font-size: 36px;
  color: #1f2937;
  text-align: center;
}
.imageContainer {
  display: flex;
  margin: auto 100px;
}

.imageContainer img {
  border-radius: 20px;
  border: solid 5px #3882F6;
  padding: 0px;
  width:175px;
  height:175px;
}