* {
  font-family: 'Roboto', sans-serif;
  padding: 15px;
  margin: auto;
}
header {
  background-color: #1F2937;
  color: #F9FAF8;
}
.logo {
  font-size: 24px;
  color:#F9FAF8;
  flex: 1;
}
nav {
  display: flex;
}
ul {
  display: flex;
  list-style: none;
  flex: 1;
}
li {
  flex: 4;
}
li a {
  font-size: 18px;
  color: #E5E7EB;
  padding: 14px 16px;
}
.asides {
  display: flex;
}
.asideLeft {
  flex-direction: column;
  flex: 1;
  justify-content: space-around;
}
.asideRight {
  flex: 1;
  flex-direction: column;
  justify-content: space-around; 
}
.heroHeader {
  margin: 0px;
  font-weight: 900;
  font-size: 48px;
}
.sideImg {
  border: #E5E7EB;
  border-radius: 20px;
  max-width: 100%;
}
.button1 {
  background-color: #3882F6;
  color: #E5E7EB;
  border-radius: 10px;
  border-style: none;
  font-size: 18px;
  padding: 10px 35px;
  margin: 18px;
}
.button1:hover {
  border-color: #E5E7EB;
  border-style: ridge;
}
h2 {
  font-weight: 900;
  font-size: 36px;
  color: #1f2937;
  text-align: center;
}
.imageContainer {
  display: flex;
  margin: auto 100px;
  justify-content: center;
}
.imageContainer img {
  border-radius: 20px;
  border: solid 5px #3882F6;
  padding: 0px;
  width:175px;
  height:175px;
}
.testimonial {
  background-color: #E5E7EB;
  color: #1F2937;
  padding: 50px 150px;
}
.quote {
  font-size: 36px;
  font-style: italic;
  text-align:justify;
}
.testimonial h3 {
  text-align: right;
  flex: 3;
}
.callToAction {
  background-color: #3882F6;
  color: #E5E7EB;
  padding: 0px 100px;
  margin: 75px 100px;
  display: flex;
  border-radius: 10px;
}
.signupText {
  flex: 2;
  margin: 0px;
}
.signupButton {
  flex: 1;
  display: flex;
  padding: 0px;
  justify-content: center;
}
.signupButton button {
  background-color: #3882F6;
  border-color: #E5E7EB;
  color: #E5E7EB;
  border-radius: 10px;
  border-style: solid;
  margin: 75px 20px;
  padding: 10px 40px;
} 
footer {
  background-color: #1F2937;
  color:#E5E7EB;
  text-align: center;
}